h1 {
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
$text-size: 18px;
$text-child-size: 16px;
$text-color: rgb(102, 102, 102);
$navbar-color: white;
$navbar-active: rgba(242, 242, 242,0.93);
$navbar-child: rgba(220, 220, 220, 0.95);

ul > li > a {
  font-family: "Abyssinica SIL";
  font-style: italic;
  border-radius: 30px 5px 30px 5px;
}

.navbar-default{
  background-color: $navbar-color;
  border-color: $navbar-color;
}
.navbar-default .navbar-nav > li > a{
  color: $text-color;
  font-size: $text-size;
  font-weight: 500;
}
.navbar-default .navbar-brand {
  color: $text-color;
  font-weight:bold;
  font-size:large;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
  color: $text-color;
  background-color: $navbar-active;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:active{
  color: $text-color;
  background-color: $navbar-active;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
  color: $text-color;
  background-color: $navbar-active;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
  background-color: $navbar-active;
  color: $text-color;
}
.dropdown-menu {
  background-color: rgba(255,255,255,0.3);
  border-color: white;
  box-shadow: 0px 0px;
  padding: 0px;

  li > a{
    border-radius: 30px 5px 30px 5px;
    font-size: $text-child-size;
    font-style:normal;

    &:hover, &:active{
      background-color: $navbar-child;
    }
    background-color: $navbar-active;
    color: $text-color;
  }
}

ul.dropdown-menu > li > a{
}
