.hold{
  width: 400px;
  position: relative;
}
.container{
  position: absolute;
  width: 100%;
}
.title{
  padding-left: 50px;
}
.form-cont{
  background-color: rgba(179,179,179, 0.9);
  border-radius: 40px 10px 10px 10px;
}
