<div class="container">
  <div class="newdeck" *ngIf="state1=='cancel'" [@addDeck2]="state1"><deck-form (deckToAdd)="addNewDeck($event)"></deck-form></div>
  <a class="btn btn-warning btn-round"
     [@addDeck]="state1"
      (click)="deckToggle()">+</a>
  <div class="message" *ngIf="!deckLength">{{message}}</div>
  <div class="row cont-pan">
    <div class="col-sm-4" *ngFor="let deck of decks">
      <div class=" panel panel-default">
        <div class="panel-heading">{{deck.deckName}}</div>
        <div class="panel-body">Content</div>
      </div>
    </div>
  </div>
</div>


