
<div class="container">
  <h1>System users</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Email</th>
      <th>User since</th>
      <th>Email verified</th>
      <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let index=index; let odd=odd" [ngClass]="{odd: odd}">
      <th>{{index+1}}</th>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.createdAt}}</td>
      <td *ngIf="user.validated">yes</td>
      <td *ngIf="!user.validated">no</td>
      <td><button class="btn btn-danger" (click)="deleteUser(); $event.stopPropagation()">delete</button></td>
    </tr>
    </tbody>
  </table>
</div>

