
<div class="container">
  <h1>System users</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Email</th>
      <th>User since</th>
      <th>Email verified</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let index=index; let odd=odd" [ngClass]="{odd: odd}" (click)="onSelect(user.username)">
      <th *ngIf="users[index]">{{index+1}}</th>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.createdAt}}</td>
      <td *ngIf="user.validated">yes</td>
      <td *ngIf="!user.validated">no</td>
      <td>{{user.role}}</td>
      <td>
        <button class="btn btn-danger deleteUser" (click)="deleteUser(user.username, index); $event.stopPropagation()">delete</button>
        <button class="btn btn-primary makeAdmin" *ngIf="user.role=='client'" (click)="changeRole(index, user.username); $event.stopPropagation()">Make Admin</button>
        <button class="btn btn-info makeClient" *ngIf="user.role=='admin'" (click)="changeRole(index, user.username); $event.stopPropagation()">Make Client</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

